@inherits LayoutComponentBase


<div class="main-wrapper">
    <div class="header">
        <NavBar />
    </div>
    <div class="sidebar" id="sidebar">
        <SideBar />
    </div>
    <div class="page-wrapper">
        @Body
    </div>
</div>
