<div class="header">
    <div class="header-left">
        <a href="index.html" class="logo">
            <img src="img/Logo_Hospital.png" width="35" height="35" alt="">
        </a>
    </div>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
</div>

@code {

}
